<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name="smoketest"/>
</run>
</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Vtiger.testScript.TC_01CreateLead"/>
      <class name="com.Vtiger.testScript.TC_02CreateLead"/>
      <class name="com.Vtiger.testScript.TC_03CreateLead"/>
      <class name="com.Vtiger.testScript.TC_04CreateLead"/>
      <class name="com.Vtiger.testScript.TC_05CreateLead"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
